<div id="<%= dom_id team %>">
  <p>
    <%= team.name %>
    <strong> : <%= t 'activerecord.attributes.team.name'%>  </strong>
  
  </p>

  <p> 
    <%= team.description %>
    <strong> : <%= t 'activerecord.attributes.team.description'%> </strong>
   
  </p>

  <p>
    <%= team.leader_id %>
     <strong> : <%= t 'activerecord.attributes.team.leader_id'%> </strong>
  </p>

</div>
