<p style="color: green"><%= notice %></p>

<h1> <%= t 'Team.index.Teams'%> </h1>

<div class="container">

<a href="/teams/new">
<span style="font-size: 48px; color: Dodgerblue;" class="d-block mt-3">
<i class="fas fa-plus-circle"></i>
</span>
</a>

<table class="table">
  <thead class="thead-dark">
      <tr>
       <th> <%= t 'activerecord.attributes.team.name'%>  </th>
        <th> <%= t 'activerecord.attributes.team.description'%> </th>
        <th> <%= t 'activerecord.attributes.team.leader_id'%> </th>
        <th><%= t 'activerecord.attributes.team.division_id'%> </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% @teams.each do |teams| %>
      <tr>
        <td> <%=teams.name%></td>
        <td><%=teams.description%></td>
        <td><%=teams.leader_id%></td>
        <td><%=teams.division_id%></td>
        <td> </td>
        <td> </td>
        <td> </td>
  
        <td>  <%= link_to t("Team.index.showt"), (teams) %></td>
         <td><%= link_to t("new"), new_team_path(teams)%></td>

        <td><%= link_to t("Team.index.editteam"), edit_team_path(teams)%></td>
        <td><%=link_to t('Destroy'),  teams, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
 
 <%= link_to t('new') , new_team_path(@teams)%>
<br>
 <a href="/" class="mt-5">&#8592; <%= t 'Back to Home'%> </a>
 <br>
</div>