<p style="color: green"><%= notice %></p>

<%= render @team %>

<div>
  <%= link_to t("Team.index.editteam"), edit_team_path(@team) %> |
  <%= link_to t("Team.index.backt"), teams_path %>

  <%= button_to t('Destroy'), @team, method: :delete %>
</div>
