<p style="color: green"><%= notice %></p>

<%= render @team %>

<div>
   <%= link_to t("Team.index.edit team"), edit_team_path(@team) , class:"btn btn-dark" %>  |
 <%= link_to t("Team.index.back to team"), teams_path , class:"btn btn-dark" %>
<br><br>
  <%= button_to t('Destroy'), @team, method: :delete , class:"btn btn-dark" %>
</div>
