<div id="<%= dom_id employee %>">
  <p>
    <%= employee.name %>
      <strong>: <%= t('activerecord.attributes.employee.name')%>  </strong>
  </p>

  <p>
    <%= employee.email %>
    <strong>: <%= t('activerecord.attributes.employee.email')%>  </strong>
  </p>

  <p>
    <%= employee.job %>
     <strong>: <%= t('activerecord.attributes.employee.job')%>  </strong>
  </p>

  <p>
    <%= employee.salary %>
     <strong>: <%= t('activerecord.attributes.employee.salary')%>  </strong>
  </p>

  <p>
    <%= employee.employment_status %>
         <strong>: <%= t('activerecord.attributes.employee.employment_status')%>  </strong>

  </p>
  

</div>
