<div class="container">
<h1> <%= t 'employee.index.Employees'%> </h1>


</span>
</a>

<table class="table">
  <thead class="thead-dark">
      <tr>
       <th>  <%= t 'employee.index.ID'%> </th>
        <th> <%= t 'activerecord.attributes.team.name'%> </th>
        <th> <%= t 'activerecord.attributes.employee.name'%> </th>
        <th> <%= t 'activerecord.attributes.employee.email'%> </th>
        <th> <%= t 'activerecord.attributes.employee.job'%> </th>
        <th> <%= t 'activerecord.attributes.employee.salary'%></th>
        <th>  <%= t 'activerecord.attributes.employee.employment_status'%></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% @employees.each do |employee| %>
      <tr>
        <td><%=employee.id%></td>
        <td><%=employee.team_id%></td>
        <td><%=employee.name%></td>
        <td><%=employee.email%></td>
        <td><%=employee.job%></td>
        <td><%=employee.salary%></td>
        <td><%=employee.employment_status%></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>  <%= link_to  t('activerecord.attributes.employee.showemp'), (employee) %></td>
         <td><%= link_to t('new'), new_employee_path(employee)%></td>

        <td><%= link_to t('activerecord.attributes.employee.editemp') , edit_employee_path(employee)%></td>
        <td><%= link_to t('Destroy'), employee, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
 <%= link_to t('new'), new_employee_path(@employees)%>
 <br>
 <a href="/" class="mt-5">&#8592; <%= t 'Back to Home'%></a>
 
</div>
