<p style="color: green"><%= notice %></p>

<%= render @employee %>

<div>
  <a class="btn btn-dark"  <%= link_to t('activerecord.attributes.employee.edit employee') , edit_employee_path(@employee) %></a> |
 <a class="btn btn-dark"<%= link_to t('activerecord.attributes.employee.back to employees') , employees_path %> </a>
</div>
<br>
  <%= button_to t("Destroy"), @employee, method: :delete , class:"btn btn-dark" %></a>

