<p style="color: green"><%= notice %></p>

<%= render @employee %>

<div>
  <%= link_to t('activerecord.attributes.employee.editemp') , edit_employee_path(@employee) %> |
  <%= link_to t('activerecord.attributes.employee.backemp') , employees_path %>

  <%= button_to t("Destroy"), @employee, method: :delete %>
</div>
