<div id="<%= dom_id target %>">
  <p>
    <%= target.title %>
    <strong> : <%= t("activerecord.attributes.target.title") %> </strong>
  
  </p>

  <p>
    <%= target.description %>
    <strong> : <%= t("activerecord.attributes.target.description") %> </strong>

  </p>

  <p>
    <%= target.start_date %>
    <strong> : <%= t("activerecord.attributes.target.start_date") %> </strong>
  </p>

  <p>
    <%= target.finish_date %>
    <strong> : <%= t("activerecord.attributes.target.finish_date") %> </strong>
  </p>

  <p>
    <%= target.status %>
    <strong> : <%= t("activerecord.attributes.target.status") %> </strong>

  </p>

</div>
