<p style="color: green"><%= notice %></p>

<h1> <%= t("activerecord.attributes.target.targets")%>  </h1>

<div class="container">

<a href="/targets/new">
<span style="font-size: 48px; color: Dodgerblue;" class="d-block mt-3">
<i class="fas fa-plus-circle"></i>
</span>
</a>

<table class="table">
  <thead class="thead-dark">
      <tr>
       <th> <%= t("activerecord.attributes.target.title")%> </th>
        <th> <%= t("activerecord.attributes.target.description")%> </th>
        <th> <%= t("activerecord.attributes.target.start_date")%> </th>
        <th><%= t("activerecord.attributes.target.finish_date")%></th>
        <th><%= t("activerecord.attributes.target.status")%></th>
         <th><%= t("activerecord.attributes.target.team_id")%></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% @targets.each do |targets| %>
      <tr>
        <td> <%=targets.title%></td>
        <td><%=targets.description%></td>
        <td><%=targets.start_date%></td>
        <td><%=targets.finish_date%></td>
        <td><%=targets.status%></td>
        <td><%=targets.team_id%></td>
        <td> </td>
        <td> </td>
        <td> </td>
        
        <td>   <%= link_to t("activerecord.attributes.target.show target") , (targets) , class:"btn btn-dark" %> </td>
        <td>   <%= link_to t("activerecord.attributes.target.edit target"), edit_target_path(targets) , class:"btn btn-dark" %> </td>
        <td>  <%= link_to t('Destroy'), targets, :confirm => 'Are you sure?', :method => :delete  , class:"btn btn-dark" %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>


 <%= link_to t('new') , new_target_path(@tragets), class:"btn btn-dark"%>
<br><br>
 <a href="/" class="btn btn-dark">&#8592; <%= t 'Back to Home'%> </a>
 <br>
</div>
