<p style="color: green"><%= notice %></p>

<%= render @target %>

<div>
 <%= link_to t("activerecord.attributes.target.edit target"), edit_target_path(@target) , class:"btn btn-dark" %> |
 <%= link_to  t("activerecord.attributes.target.back to targets") , targets_path  , class:"btn btn-dark" %>

</div>
<br>
<%= button_to t('Destroy'), @target, method: :delete , class:"btn btn-dark" %></a>