<div id="<%= dom_id user %>">

 <p>
    <strong> <%= t 'activerecord.attributes.user.profile_picture'%> </strong>
  </p>

  <p>
  <%= user.email %>
    <strong> : <%= t 'activerecord.attributes.user.email'%> </strong>
  
  </p>

  <p>
    <%= user.name %>
    <strong>: <%= t 'activerecord.attributes.user.name'%> </strong>
  
  </p>

  <p>
    <%= user.password %>
     <strong>: <%= t 'activerecord.attributes.user.password'%></strong>
  </p>

</div>
