<p style="color: green"><%= notice %></p>

<h1> <%= t 'user.index.Users'%> </h1>

<div class="container">

<a href="/users/new">
<span style="font-size: 48px; color: Dodgerblue;" class="d-block mt-3">
<i class="fas fa-plus-circle"></i>
</span>
</a>

<table class="table">
  <thead class="thead-dark">
      <tr>
       <th> <%= t 'user.index.Email'%> </th>
        <th><%= t 'user.index.Name'%></th>
        <th><%= t 'user.index.Password'%></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% @users.each do |users| %>
      <tr>
        <td><%=users.email%></td>
        <td><%=users.name%></td>
        <td><%=users.password%></td>
        <td> </td>
        <td> </td>
        <td> </td>
  
        <td>  <%= link_to t("user.index.show"), (users) %></td>
        <td><%= link_to t("user.index.edit"), edit_user_path(users)%></td>
         <td><%= link_to t("new"), new_user_path(users)%></td>
        <td><%= link_to t('Destroy'), users, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
 
  <%= link_to t('new') , new_user_path(@users)%>
<br>
 <a href="/" class="mt-5">&#8592; <%= t 'Back to Home'%> </a>
 <br>
</div>
