<p style="color: green"><%= notice %></p>

<h1> <%= t 'user.index.Users'%> </h1>

<div class="container">

<a href="/users/new">
<span style="font-size: 48px; color: Dodgerblue;" class="d-block mt-3">
<i class="fas fa-plus-circle"></i>
</span>
</a>

<table class="table">
  <thead class="thead-dark">
      <tr>
       <th> <%= t 'user.index.Email'%> </th>
        <th><%= t 'user.index.Name'%></th>
        <th><%= t 'user.index.Password'%></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% @users.each do |users| %>
      <tr>
        <td><%=users.email%></td>
        <td><%=users.name%></td>
        <td><%=users.password%></td>
        <td> </td>
        <td> </td>
        <td> </td>
 
        <td>  <%= link_to  t("activerecord.attributes.user.show user") , (users) , class:"btn btn-dark" %></td>
        <td>  <%= link_to t("activerecord.attributes.user.edit user"), edit_user_path(users) , class:"btn btn-dark"%> </td>
        <td>  <%= link_to t('Destroy'), users, :confirm => 'Are you sure?', :method => :delete , class:"btn btn-dark" %></td>

      </tr>
    <% end %>
    </tbody>
  </table>
 
  <%= link_to t('new') , new_user_path(@users) , class:"btn btn-dark"%>
<br>
<br>
 <a href="/" class="btn btn-dark">&#8592; <%= t 'Back to Home'%> </a>
 <br>
</div>
