<p style="color: green"><%= notice %></p>

<%= image_tag @user.cover , size:'150x150' %>

<%= render @user %>

<div>
<a class="btn btn-dark" <%= link_to t("activerecord.attributes.user.edit user") , @user %> | </a>
<a class="btn btn-dark" <%= link_to t("activerecord.attributes.user.back to users") , users_path %> </a>
<br><br>
 <%= button_to t('Destroy'), @user, method: :delete , class:"btn btn-dark" %> 
  <br>
</div>
