<p style="color: green"><%= notice %></p>

<%= image_tag @user.cover , size:'150x150' %>

<%= render @user %>

<div>
<%= link_to t("activerecord.attributes.user.edituser") , @user %> |
<%= link_to t("activerecord.attributes.user.backuser") , users_path %>
<br>
  <%= button_to t('Destroy'), @user, method: :delete %>
  <br>
</div>
