<div id="<%= dom_id division %>">
  <p>
    <%= division.name %>
    <strong>:<%= t("activerecord.attributes.division.name") %></strong>
  </p>

  <p>
    <%= division.description %>
       <strong>:<%= t("activerecord.attributes.division.description") %></strong>
  </p>

  <p>
    <%= division.employee_id %>
           <strong>:<%= t("activerecord.attributes.division.employee_id") %></strong>

  </p>

</div>
