<div class="container">
<h1> <%=t("activerecord.attributes.division.divisions")%></h1>

</span>
</a>

<table class="table">
  <thead class="thead-dark">
      <tr>
       <th> <%= t("activerecord.attributes.division.IDdivision") %> </strong> </th>
        <th><%= t("activerecord.attributes.division.name") %></th>
        <th><%= t("activerecord.attributes.division.description") %></th>
        <th><%= t("activerecord.attributes.division.teams") %></th>
        <th> <%= t("activerecord.attributes.division.employee_id") %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <% @divisions.each do |division| %>
      <tr>
        <td> <%=division.id%></td>
        <td><%=division.name%></td>
        <td><%=division.description%></td>
        <td><%= division.teams.collect(&:name).join(',') %></td>
        <td><%=division.employee_id%></td>


        <td>  <%= link_to t("activerecord.attributes.division.Showdivision")  , (division) %></td>
        <td><%= link_to t('new'), new_division_path(division)%></td>
        <td><%= link_to t("activerecord.attributes.division.Editdivision")  , edit_division_path(division)%></td>
        <td><%= link_to t('Destroy'), division, :confirm => 'Are you sure?', :method => :delete %></td>


      </tr>
    <% end %>
    
    </tbody>
  </table>
    <%= link_to t('new'), new_division_path(@divisions)%>
    <br>
   <a href="/" class="mt-5">&#8592; <%= t 'Back to Home'%></a>
 

</div>
