<p style="color: green"><%= notice %></p>

<%= render @division %>

<div>
  <%= link_to t("activerecord.attributes.division.Edit division") , edit_division_path(@division) , class:"btn btn-dark"  %> |
  <%= link_to  t("activerecord.attributes.division.back to division"), divisions_path , class:"btn btn-dark"  %>
 <br><br>
  <%= button_to t("Destroy"), @division, method: :delete , class:"btn btn-dark"  %>
 
</div>
