<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">

  <div class="container-fluid">


    <a class="navbar-brand" href="#">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7zjcIL_emPNmSF1JtsPYhrWJh_0LtWC2f7DxDO-dquJouh0CRHyJL8g1eJu0z2vp3NM0&usqp=CAU" width="80" height="80" alt="hhhhhvytc">

  

    
    <%= link_to 'Home', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">



        <li class="nav-item">
        <%= link_to 'Users', users_path, class:"nav-link"%>
        </li>

         <li class="nav-item">
        <%= link_to 'Employees', employees_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
        <%= link_to 'Teams', teams_path, class:"nav-link"%>
        </li>

        <li class="nav-item">
        <%= link_to 'Targets', targets_path, class:"nav-link"%>
        </li>

        <li class="nav-item">
        <%= link_to 'Divisions', divisions_path, class:"nav-link"%>
        </li>
      </ul>
     </div>

   <ul class="navbar-nav ml-auto">
 <% if myuser_signed_in? %>
      <li class="nav-item">
           <%= button_to 'Sign out', destroy_myuser_session_path , method: :delete ,class: 'nav-link' %>
     </li>

      <% else %>
    <li class="nav-item">
         <%= link_to 'Register', new_myuser_registration_path , class: 'nav-link' %>
    </li>

    <li class="nav-item">
        <%= link_to 'Sign in', new_myuser_session_path , class: 'nav-link' %>
        </li>

      <% end %>
    

      </ul>
    </div>
  </div>
</nav>